<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdp.mapper.ExamMapper">

	<insert id="register">
		insert into exam (examCode, subjectCode, examName, studentCnt, startTime, endTime)
		values (#{examCode}, #{subjectCode}, #{examName}, #{studentCnt}, #{startTime}, #{endTime})
	</insert>
	
	<!-- 과목내에 있는 한개의 시험 삭제 -->
	<delete id="delete">
		delete from exam
		where examCode = #{examCode}
	</delete>
	
	<!-- 과목내에 있는 모든 시험 삭제 -->
	<delete id="deleteAll">
		delete from exam
		where subjectCode=#{subjectCode}
	</delete>
	
	 <update id="modify">
		update exam set examName=#{examName}, startTime=#{startTime}, endTime=#{endTime}
		where examCode=#{examCode}
 	</update>

	<select id="listExam" resultType="com.jdp.domain.ExamVO">
 		select *  
 		from exam
 		where subjectCode = #{subjectCode}
 		order by startTime
 	</select>
 	
 	<select id="getName" resultType="String">
 		select subjectName  
 		from subject
 		where subjectCode=#{subjectCode}
 	</select>
 	
 	<select id="getExam" resultType="com.jdp.domain.ExamVO">
 		select examCode, subjectCode, examName, startTime, endTime, studentCnt
 		from exam
 		where examCode=#{examCode}
 	</select>
 	
 	<select id="checkTime" resultType="com.jdp.domain.ExamVO">
 		select *
 		from exam
 		where examCode = #{examCode}
 		and endTime > now() and  now() > startTime
 	</select>
 	
 	<select id="getSubjectCode" resultType="int">
 		select subjectCode
 		from exam
 		where examCode=#{examCode}
 	</select>
 	
 	 <select id="getExamCode" resultType="int">
 		select examCode
 		from exam
 		where subjectCode=#{subjectCode} and examName=#{examName}
 	</select>
 	
 	<select id="examCodeList" resultType="int">
		select examCode
		from exam
		where subjectCode=#{subjectCode} 	
 	</select>
 	
 	<!-- check examName already exist or not -->
 	<select id="checkExamName" resultType="int">
 		select count(*)
 		from exam
 		where subjectCode=#{subjectCode} and examName=#{examName}
 	</select>
</mapper>