<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdp.mapper.ScoreMapper">

	<insert id="register">
		insert into score (subjectCode, examName, uid, score)
		values (#{subjectCode}, #{examName}, #{uid}, #{score})
	</insert>
	
	<select id="listScore">
		select uid, score
		from score
		where subjectCode=#{subjectCode} and examName=#{examName}
	</select>
	
 	<select id="answer" resultType="com.jdp.domain.CheckVO">
 		select qNumber, answer, qPoint
 		from question
 		where subjectCode=#{subjectCode} and examName=#{examName}
 		order by qNumber
 	</select>
 	
 	<select id="myScore" resultType="com.jdp.domain.ScoreVO">
 		select s.subjectCode, s.examName, s.score, s.uid
 		from score as s join exam as e
 		on s.examName = e.examName
 		where e.subjectCode=#{subjectCode} and s.uid=#{uid}
 	</select>
 	
 	<select id="manage" resultType ="com.jdp.domain.MemberListVO">
	select m.grade, m.classnumber, m.studentnumber, u.uname
    from subject as s join member as m on s.subjectcode = m.subjectcode join user as u on m.uid=u.uid
    where s.subjectcode=#{subjectCode} and s.uid=#{uid};
	</select>
	
	<select id="manage2" resultType ="com.jdp.domain.MemberListVO">
	select m.grade, m.classnumber, m.studentnumber, u.uname
    from subject as s inner join member as m  on s.subjectcode=m.subjectcode inner join user as u on m.uid=u.uid
    where s.subjectcode=#{subjectCode} and s.uid=#{uid}
    <if test="grade!=0 and grade!=''">
    	and m.grade like CONCAT('%', #{grade}, '%')
    </if> 
    <if test="classNumber!=0 and classNumber!=''">
    	and m.classNumber like CONCAT('%', #{classNumber}, '%')
    </if>
    <if test="studentNumber!=0 and studentNumber!=''">
    	and m.studentNumber like CONCAT('%', #{studentNumber}, '%')
    </if> 
    <if test="uname!=null and uname!=''">
    	and u.uname like CONCAT('%', #{uname}, '%')
    </if>  ;
	</select>
	
	<select id="check" resultType="com.jdp.domain.ScoreVO">
		select subjectCode, examName, uid, score
		from score
		where subjectCode=#{subjectCode} and examName=#{examName} and uid=#{uid}
	</select> 	
	
</mapper>