<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdp.mapper.ScoreMapper">

	<insert id="register">
		insert into score (subjectCode, examName, uid, score)
		values (#{subjectCode}, #{examName}, #{uid}, #{score})
	</insert>
	
	<select id="listScore">
		select uid, score
		from score
		where subjectCode=#{subjectCode} and examName=#{examName}
	</select>
	
 	<select id="answer" resultType="com.jdp.domain.CheckVO">
 		select qNumber, answer, qPoint
 		from question
 		where subjectCode=#{subjectCode} and examName=#{examName}
 		order by qNumber
 	</select>
 	
 	<select id="myScore" resultType="com.jdp.domain.ScoreVO">
 		select subjectCode, examName, score
 		from score as s join exam as e
 		on s.examName = e.examName
 		where e.subjectCode=#{subjectCode} and s.uid=#{uid}
 		order by e.startTime
 	</select>
 	
	<select id="check" resultType="String">
		select uid
		from score
		where subjectCode=#{subjectCode} and examName=#{examName} and uid=#{uid}
	</select> 	
</mapper>