<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdp.mapper.StudentMapper">

	<insert id="register">
		insert into student (sid, pw)
		values (#{sid}, #{pw})
	</insert>
	
	<select id="checkPW" resultType="String">
		select pw from student where sid=#{sid}
	</select>
	
	<select id="checkSid" resultType="String">
		select sid from student where sid=#{sid}
	</select>
	
	<select id="login" resultType="com.jdp.domain.StudentVO">
		select sid, pw 
		from student 
		where exists(select * 
					from student
					where sid=#{sid} and pw=#{pw})
	</select>
	
</mapper>