<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Subject Query -->
<mapper namespace="com.jdp.mapper.SubjectMapper">

	<insert id="register">
		insert into subject (subjectName, uid)
		values (#{subjectName}, #{uid})
	</insert>
	
	<select id="checkSubjectCode" resultType="int">
 		select subjectCode from subject where subjectName=#{subjectName}
 	</select>
	
	 <update id="modify">
 		update subject set subjectName=#{subjectName}
 		where subjectCode=#{subjectCode}
 	</update>
 	
 	<select id="listStudent" resultType="com.jdp.domain.SubjectVO">
 		select s.subjectCode, s.subjectName
 		from member as m join subject as s
 		on m.subjectCode = s.subjectCode
 		where m.uid = #{uid}
 		order by subjectName
 	</select>
 	
 	<select id="listTeacher" resultType="com.jdp.domain.SubjectVO">
		select subjectName, subjectCode
		from subject
		where uid=#{uid}
		order by subjectName	
	 </select>
 	
 	<insert id="joinSubject">
		insert into member (uid, subjectCode, grade, classNumber, studentNumber)
		values (#{uid}, #{subjectCode}, #{grade}, #{classNumber}, #{studentNumber})
	</insert>
	
	<select id="manage" resultType ="com.jdp.domain.MemberListVO">
	select m.grade, m.classnumber, m.studentnumber, u.name
    from subject as s join member as m on s.subjectcode = m.subjectcode join user as u on m.uid=u.uid
    where s.subjectcode=#{subjectCode} and s.uid=#{uid};
	</select>
	
	<select id="manage2" resultType ="com.jdp.domain.MemberListVO">
	select m.grade, m.classnumber, m.studentnumber, u.name
    from subject as s inner join member as m  on s.subjectcode=m.subjectcode inner join user as u on m.uid=u.uid
    where s.subjectcode=#{subjectCode} and s.uid=#{uid}
    <if test="grade!=0 and grade!=''">
    	and m.grade=#{grade}
    </if> 
    <if test="classNumber!=0 and classNumber!=''">
    	and m.classNumber=#{classNumber}
    </if>
    <if test="studentNumber!=0 and studentNumber!=''">
    	and m.studentNumber=#{studentNumber}
    </if> 
    <if test="name!=null and name!=''">
    	and u.name=#{name}
    </if>  ;
	</select>
	
	
	
</mapper>