<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdp.mapper.subjectMapper">

	<insert id="register">
		insert into subject (subjectCode, subjectName, tid)
		values (#{subjectCode}, #{subjectName}, #{tid})
	</insert>
	
	<delete id="delete">
		delete from subject
		where subjectCode=#{subjectCode} and examName=#{examName}
	</delete>

	<select id="listExam" resultType="com.jdp.domain.SubjectVO">
 		select subjectName
 		from subject
 	</select>
 	
</mapper>