<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Subject Query -->
<mapper namespace="com.jdp.mapper.SubjectMapper">

	<insert id="register">
		insert into subject (subjectCode, subjectName, uid)
		values (#{subjectCode}, #{subjectName}, #{uid})
	</insert>
	
	 <update id="modify">
 		update subject set subjectName=#{subjectName}
 		where subjectCode=#{subjectCode}
 	</update>
 	
 	<select id="listStudent" resultType="com.jdp.domain.SubjectVO">
 		select s.subjectCode, s.subjectName
 		from member as m join subject as s
 		on m.subjectCode = s.subjectCode
 		where m.uid = #{uid}
 		order by subjectName
 	</select>
 	
 	<select id="listTeacher" resultType="com.jdp.domain.SubjectVO">
		select subjectName, subjectCode
		from subject
		where uid=#{uid}
		order by subjectName	
	 </select>
 	
 	<insert id="joinSubject">
		insert into member (uid, subjectCode, grade, classNumber, studentNumber, studentName)
		values (#{uid}, #{subjectCode}, #{grade}, #{classNumber}, #{studentNumber}, #{studentName})
	</insert>

</mapper>